<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecommerce App Suite" parallel="tests" thread-count="2">
    <parameter name="browserName" value="Firefox"/>
    <test name="Ecommerce Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="Products Test">
        <classes>
            <class name="tests.ProductTest"/>
        </classes>
    </test>
</suite>